textarea {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    background-color: transparent;
    color: white;
    resize: none;
    border: none;
    overflow-y: auto;
    width: 100%;

    &::placeholder {
        color: white;
    }
}